<div class="container">
  <div class="row text-center mt-5">
    <h2 class="alert-heading">Ups.. Something happened!</h2>
  </div>
  <div class="row justify-content-center mt-5 m-auto">
    <div class="col-lg-6 col-md-8 col-sm-10 col-xs-10">
      <div class="alert alert-light" role="alert">
        <p>It seems that your purchase has failed.</p>
        <p class="mb-0">Please contact an administrator.</p>
        <hr>
        <p class="mb-0">Go to <a href="/">home</a> page.</p>
      </div>
    </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="../client.js" type="module"></script>
<script src="../session.js" type="module"></script>